@import "../../styles/variables.scss";
@import "../../styles/mixins/card.scss";

.input-container{

  &.with-errors {

    .input-wrapper{
      border: 1px solid $red!important;
    }
    .error-msg{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  .input-wrapper {
    @include card;
    $input-height: 44px;
     font-family: Arial, Helvetica, sans-serif;
     height: $input-height;
     display: flex;
     align-items: center;
     cursor: text;
     background: white;
     box-sizing: border-box;
     transition: border 0.3s;
   
     &:focus,
     &:focus-within {
       .label {
         font-size: 10px !important;
         transform: translateY(0px)!important;
   
       }
     }
   
     &:not(.filled) {
      .input{
       .label {
        font-size: 16px;
        transform: translateY(11px);
      }
      }
   
     }
   
     .icon-wrapper {
       width: $input-height;
       height: $input-height;
       display: flex;
       justify-content: center;
       align-items: center;
       color: #5599ff;
       font-size: 24px;
     }
   
     .label {
       color: #5e5e5e;
       font-weight: lighter;
       font-size: 10px;
       cursor: text;
       transition: font-size 0.3s, transform 0.3s;
     }
     .input {
       flex-grow: 1;
       box-sizing: content-box;
       input {
         width: 96%;
         font-size: 14px;
         font-weight: medium;
         outline: none;
         border: none;
         background: transparent;
         pointer-events: none;
       }
     }
   }

   .error-msg{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: $red;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
    line-height: 21px;
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: -1;
    height: 21px;
   }
}
