.alva-calendar-month-wrapper{
 $gap: 7px;
 font-family: Arial, Helvetica, sans-serif;
 padding: $gap;

 .title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #5e5e5e;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;

  span{
   font-size: 14px;
  }

 }

 .alva-calendar-month{
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(7, 1fr);
 
  .day{
   font-size: 11px;
   color: #5e5e5e;
   display: flex;
   justify-content: center;
  }
 } 
}