
@import "../../styles/variables.scss";
@import "../../styles/mixins/card.scss";

.address-container{
  @include card;
 font-family: Arial, Helvetica, sans-serif;


 &:focus,
 &:focus-within {
  .not-found{
    display: flex!important;
  }
 }

 .input-wrapper{
  border: none!important;
  border-radius: 0px;
  box-sizing: border-box;
 }

 .error-msg{
  display: none;
 }

 .predictions-wrapper{
   transition: max-height 0.3;
   overflow: hidden;

 }

}